<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Employee Login</h2>

    <form action="http://127.0.0.1:5000/emplogin/input" method="post">
        
        <label for="designation">Designation</label>
        <br>
        <input type="text" id="designation" name="designation" required><br>
        
        <label for="emp_name">Username</label>
        <br>
        <input type="text" id="emp_name" name="emp_name" required><br>

        <label for="emp_pass">Password</label>
        <br>
        <input type="password" id="emp_pass" name="emp_pass" required><br>
        
        <input type="submit" value="Submit">

    </form>
</body>
</html>