<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
    
    <link rel="stylesheet" type="text/css" href="static/main.css">  
    {% extends 'base.html' %}
</head>
<body>
    <br><br>
    <div class="container">
        {% block content %}
        <h2 style="font-family:cursive; color:black">Manager Login</h2>
    <div class="form">
  
   
    <form action="http://127.0.0.1:5000/managerLogin/input" method="post">
        
        <label for="designation">Designation</label>
        <br>
        <input type="text" id="designation" name="designation" required><br><br>
        
        <label for="emp_name">Username</label>
        <br>
        <input type="text" id="emp_name" name="emp_name" required><br><br>

        <label for="emp_pass">Password</label>
        <br>
        <input type="password" id="emp_pass" name="emp_pass" required><br><br><br>
        
        <div style="text-align:center;">
            <button id="mngrloginbtn" type="submit"  value="LOGIN">LOGIN</button>
            </div>

    </form>
</div> 
{% endblock %}
</div>
</body>
</html>